<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                                  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="cggh.evaluator.utility" class="org.cggh.web.extensibility.EvaluatorUtil">
	</bean>

	<bean id="cggh.group.component.evaluator" class="org.cggh.web.extensibility.GroupMembershipEvaluator">
		<!--  <property name="slingshotEvaluatorUtil" ref="slingshot.evaluator.utility" /> -->
		<property name="cgghEvaluatorUtil" ref="cggh.evaluator.utility" />
	</bean>

	<bean id="cggh.type.component.evaluator" class="org.cggh.web.extensibility.TypeSubComponentEvaluator"/>

</beans>

